<a href="https://colab.research.google.com/github/Shaddynetwork/PORTFOLIO-REBALANCING/blob/main/CAPSTONE_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Conv1D, MaxPooling1D, Flatten

In [4]:
import yfinance as yf
import pandas as pd

# List of tickers (10 ETFs and 10 equities from the Japanese market)
tickers = ['DXJ', 'EWJ', 'JPXN', 'DBJP', 'HEWJ', '7203.T', '9984.T', '6758.T', '6701.T', '6861.T', '6752.T', '6976.T', '6594.T', '6367.T', '6301.T', '6098.T', '6305.T', '6326.T', '6762.T', '6841.T']

# Download historical data (adjust the period as needed)
start_date = '1998-01-01'
end_date = '2023-03-31'

# Create a list of DataFrames for each ticker
dfs = []
for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date, auto_adjust=True)
    data.columns = [f"{ticker}_{col}" for col in data.columns]
    dfs.append(data)

# Combine the DataFrames into a single DataFrame
portfolio_data = pd.concat(dfs, axis=1)
portfolio_data.insert(0, 'Date', portfolio_data.index)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
<ipython-input-4-9c03114c2473>:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  portfolio_data.insert(0, 'Date', portfolio_data.index)

##### ETF and Equity - Japan

In [5]:
portfolio_data

,Date,DXJ_Open,DXJ_High,DXJ_Low,DXJ_Close,DXJ_Volume,EWJ_Open,EWJ_High,EWJ_Low,EWJ_Close,...,6762.T_Open,6762.T_High,6762.T_Low,6762.T_Close,6762.T_Volume,6841.T_Open,6841.T_High,6841.T_Low,6841.T_Close,6841.T_Volume
Date,,,,,,,,,,,,,,,,,,,,,
1998-01-02,1998-01-02,NaN,NaN,NaN,NaN,NaN,27.306944,27.306944,27.135202,27.135202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-05,1998-01-05,NaN,NaN,NaN,NaN,NaN,26.619976,27.135202,26.276493,26.448235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-06,1998-01-06,NaN,NaN,NaN,NaN,NaN,26.104751,26.448235,25.933009,26.448235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-07,1998-01-07,NaN,NaN,NaN,NaN,NaN,26.963458,27.306942,26.619975,27.306942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-08,1998-01-08,NaN,NaN,NaN,NaN,NaN,26.963454,26.963454,26.791712,26.791712,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-24,2023-03-24,65.081733,65.533350,64.812675,65.504524,99100.0,55.817231,55.964142,55.591961,55.954350,...,4557.879200,4572.441114,4509.339485,4528.755371,1485900.0,1998.955085,2013.653284,1985.236766,2009.733765,714100.0
2023-03-27,2023-03-27,66.188228,66.585846,66.062158,66.488861,439600.0,56.032700,56.257966,55.973937,56.199203,...,4553.025228,4553.025228,4509.339485,4528.755371,1187200.0,2033.250941,2035.210701,2004.834422,2029.331421,741900.0
2023-03-28,2023-03-28,66.207620,66.498560,66.120342,66.275505,120300.0,56.287349,56.355908,56.199201,56.306938,...,4538.462989,4567.586816,4514.193133,4553.024902,1031700.0,2046.969124,2060.687442,2044.029484,2057.747803,588100.0
2023-03-29,2023-03-29,67.429560,67.662308,67.254997,67.662308,85800.0,56.493026,56.620352,56.424467,56.522408,...,4596.710250,4596.710250,4509.338777,4567.586426,1548100.0,2067.546773,2101.842572,2060.687613,2099.882812,827000.0
2023-03-30,2023-03-30,68.011431,68.147201,67.701098,67.885361,69900.0,56.767265,56.904383,56.718295,56.786854,...,4614.715544,4663.808262,4595.078456,4629.443359,1611800.0,2085.067071,2108.772239,2077.165349,2102.845947,687300.0

In [6]:
portfolio_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6558 entries, 1998-01-02 to 2023-03-30
Columns: 101 entries, Date to 6841.T_Volume
dtypes: datetime64[ns](1), float64(100)
memory usage: 5.1 MB

In [7]:
portfolio_data.describe()

,Date,DXJ_Open,DXJ_High,DXJ_Low,DXJ_Close,DXJ_Volume,EWJ_Open,EWJ_High,EWJ_Low,EWJ_Close,...,6762.T_Open,6762.T_High,6762.T_Low,6762.T_Close,6762.T_Volume,6841.T_Open,6841.T_High,6841.T_Low,6841.T_Close,6841.T_Volume
count,6558,4226.000000,4226.000000,4226.000000,4226.000000,4.226000e+03,6352.000000,6352.000000,6352.000000,6352.000000,...,5816.000000,5816.000000,5816.000000,5816.000000,5.816000e+03,5816.000000,5816.000000,5816.000000,5816.000000,5.816000e+03
mean,2010-08-21 16:42:22.726440960,36.847458,37.016845,36.674613,36.859809,1.924938e+06,39.310973,39.517798,39.092389,39.319215,...,2152.232362,2178.536808,2124.691266,2151.077937,3.375717e+06,1171.598903,1185.058493,1157.240153,1171.254803,1.336327e+06
min,1998-01-02 00:00:00,17.864205,17.864205,17.593256,17.710257,0.000000e+00,18.790613,18.941901,18.730103,18.881382,...,655.785540,670.977465,644.133378,655.785522,0.000000e+00,259.152516,259.972569,259.152466,259.152466,0.000000e+00
25%,2004-05-03 06:00:00,26.162738,26.281730,26.042547,26.151306,3.217500e+04,30.842239,31.021863,30.641512,30.852666,...,1344.971555,1368.452171,1325.809214,1347.450806,1.941900e+06,721.502790,732.894714,707.721299,721.445847,7.868250e+05
50%,2010-08-21 12:00:00,34.080154,34.217536,33.947392,34.104136,5.127500e+05,38.832283,39.047263,38.576922,38.839935,...,1907.831747,1931.862982,1881.820594,1906.941528,2.863650e+06,1104.717420,1116.707020,1090.397329,1102.013550,1.152300e+06
75%,2016-12-08 18:00:00,44.256124,44.502049,44.117737,44.295444,2.954000e+06,45.323250,45.481117,45.124716,45.366436,...,2640.374467,2669.368592,2607.696388,2636.977539,4.149000e+06,1576.607254,1590.662334,1557.844628,1573.796875,1.654825e+06
max,2023-03-30 00:00:00,70.376284,70.472372,69.867002,70.203316,2.920030e+07,70.555661,70.804016,70.278619,70.804016,...,5630.981867,5699.728557,5540.361147,5690.354004,5.686080e+07,2686.831145,2686.831145,2539.849135,2544.748535,1.001490e+07
std,NaN,12.000221,12.043454,11.964808,12.008981,2.900152e+06,10.978800,10.987657,10.977308,10.985527,...,1031.972705,1042.350092,1019.729844,1031.072950,2.366915e+06,518.517248,522.379696,513.878141,518.260469,8.733401e+05

In [12]:
portfolio_data.columns

Index(['Date', 'DXJ_Open', 'DXJ_High', 'DXJ_Low', 'DXJ_Close', 'DXJ_Volume',
       'EWJ_Open', 'EWJ_High', 'EWJ_Low', 'EWJ_Close',
       ...
       '6762.T_Open', '6762.T_High', '6762.T_Low', '6762.T_Close',
       '6762.T_Volume', '6841.T_Open', '6841.T_High', '6841.T_Low',
       '6841.T_Close', '6841.T_Volume'],
      dtype='object', length=101)

# 2. Frequency - Daily and Weekly -  Price,H,L,V

#3. Create a dataframe of the returns from the price

# 4. CNN model for the returns

In [ ]:
#rjt1984

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

# List of tickers (10 ETFs and 10 equities from the Japanese market)
tickers = ['DXJ', 'EWJ', 'JPXN', 'DBJP', 'HEWJ', '7203.T', '9984.T', '6758.T', '6701.T', '6861.T', '6752.T', '6976.T', '6594.T', '6367.T', '6301.T', '6098.T', '6305.T', '6326.T', '6762.T', '6841.T']

# Download historical data (adjust the period as needed)
start_date = '1998-01-01'
end_date = '2023-03-31'

# Create a list of DataFrames for each ticker
dfs = []
for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date, auto_adjust=True)
    data.columns = [f"{ticker}_{col}" for col in data.columns]
    dfs.append(data)

# Combine the DataFrames into a single DataFrame
portfolio_data = pd.concat(dfs, axis=1)
portfolio_data.insert(0, 'Date', portfolio_data.index)

# Modify the tickers list to match the column names in the portfolio_data DataFrame
tickers = [col.split('_')[0] for col in portfolio_data.columns if col.split('_')[0] in tickers]

# Calculate the returns for each security
returns_data = portfolio_data[tickers]['Close'].pct_change()

# Assemble all the returns data of each asset into a DataFrame
returns_data = pd.DataFrame(returns_data)
returns_data.columns = tickers

# Calculate the volatility of each asset
volatility = returns_data.std()

# Print the volatility of each asset
print(f"The volatility of each asset is: {volatility}")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
<ipython-input-2-77feb06ade38>:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  portfolio_data.insert(0, 'Date', portfolio_data.index)

KeyError: "None of [Index(['DXJ', 'DXJ', 'DXJ', 'DXJ', 'DXJ', 'EWJ', 'EWJ', 'EWJ', 'EWJ', 'EWJ',\n       'JPXN', 'JPXN', 'JPXN', 'JPXN', 'JPXN', 'DBJP', 'DBJP', 'DBJP', 'DBJP',\n       'DBJP', 'HEWJ', 'HEWJ', 'HEWJ', 'HEWJ', 'HEWJ', '7203.T', '7203.T',\n       '7203.T', '7203.T', '7203.T', '9984.T', '9984.T', '9984.T', '9984.T',\n       '9984.T', '6758.T', '6758.T', '6758.T', '6758.T', '6758.T', '6701.T',\n       '6701.T', '6701.T', '6701.T', '6701.T', '6861.T', '6861.T', '6861.T',\n       '6861.T', '6861.T', '6752.T', '6752.T', '6752.T', '6752.T', '6752.T',\n       '6976.T', '6976.T', '6976.T', '6976.T', '6976.T', '6594.T', '6594.T',\n       '6594.T', '6594.T', '6594.T', '6367.T', '6367.T', '6367.T', '6367.T',\n       '6367.T', '6301.T', '6301.T', '6301.T', '6301.T', '6301.T', '6098.T',\n       '6098.T', '6098.T', '6098.T', '6098.T', '6305.T', '6305.T', '6305.T',\n       '6305.T', '6305.T', '6326.T', '6326.T', '6326.T', '6326.T', '6326.T',\n       '6762.T', '6762.T', '6762.T', '6762.T', '6762.T', '6841.T', '6841.T',\n       '6841.T', '6841.T', '6841.T'],\n      dtype='object')] are in the [columns]"